<button (click)="open(null)">Insert</button>
<div *ngIf="data && data.data">
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Detail</th>
      <th>Settings</th>
    </tr>
    <tr *ngFor="let item of data.data">
      <td>
        <h5>{{ item.code }}</h5>
      </td>
      <td>
        <h5>{{ item.name }}</h5>
      </td>
      <td>
        <img
          *ngFor="let i of item.image.split(';')"
          [src]="linkImage(item.id,i)"
          height="100"
        />
      </td>
      <td>
        <h5>{{ item.quantity }}</h5>
      </td>
      <td><button>Information</button></td>
      <td><button (click)="open(item)">Update</button></td>
      <td><button (click)="delete(item.id)">Delete</button></td>
    </tr>
  </table>
</div>